<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Webpage - {{data.user.fullName}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header class="blue-grey darken-3 white-text center-align">
        <h1 class="Name">{{data.user.fullName}}</h1>
        <p>Hi! My name is {{data.user.fullName}}, a name worth a thousand conversations.</p>
        <img src="{{data.user.photo}}" width="200" alt="Your Photo" class="circle responsive-img">
    </header>

    <div class="container">
        <section class="section">
            <h2 class="center-align">{{data.city.name}}</h2>
            <div class="row">
                <div class="col s12 m6">
                    <img src="{{data.city.photo}}" alt="City Photo" class="responsive-img">
                </div>
                <div class="col s12 m6">
                    <p>{{data.city.description}}</p>
                </div>
            </div>
        </section>

        <section class="section">
            <h2 class="center-align">A Foreign Language</h2>
            <div class="row">
                <div class="col s12">
                    <h3 class="center-align">{{data.foreignLanguage.language}}</h3>
                    <p class="center-align">I would like to learn <em>{{data.foreignLanguage.language}}</em> because
                        it's an exotic language.</p>
                    <table class="centered highlight">
                        <thead>
                            <tr>
                                <th>English</th>
                                <th>{{data.foreignLanguage.language}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data.foreignLanguage.phrases}}
                            <tr>
                                <td>{{this.englishPhrase}}</td>
                                <td>{{this.foreignLanguage}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="section">
            <h3 class="center-align">Favourite Subjects</h3>
            <div class="row">
                {{#each data.favouriteSubjects}}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{this.photo}}" alt="Subject Photo" class="responsive-img">
                        </div>
                        <div class="card-content">
                            <h4>{{this.name}}</h4>
                            <p>{{this.description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>